.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* mediaQuery for Navbar */

@media (max-width: 640px) {
 

  .icon-container {
     display: flex;
     flex-direction: row;
   }
 
   .nav-container  {
     display: flex;
     flex-direction: row;
      margin: 0;
      border: none;
     padding-left: 16px;
     padding-right: 16px;
     border: 10px;
     
   }
 }

 /* changing effect of input field as remove "X" */
 input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

/* Fixing layout for App component */
/* App.css */

.main-container {
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .flexing {
    flex: 1;
    max-height: calc(100vh - 56px); /* Adjusts for any navbar or search space */
  }

  .padding {
    padding: 16px;
  }

  .md\:mt-8 {
    margin-top: 32px; /* Adjust the margin to create space between search and content */
  }
}


/* 8888888888888888888888888 */

.flexing {
  margin: 0;
  padding: 0;

}

@media (max-width: 520px) {
  .trending-cart {
    width: 91vw;
    margin: 0px !important;
    height: 34vh;

  }
}



@media (max-width: 2561px) {
  .reco-card{
      width: 580px;
      height: 280px;
  }  
  }


 @media (max-width: 1441px) {
.reco-card{
    width: 290px;
    height: 200px;
}  
}
@media (max-width: 769px) {
  
  .reco-card{
      width: 210px;
      height: 170px;
    }  
    content-sec{
      padding-left: 10px;
    }
  }

  @media (max-width: 426px) {
  .reco-card{
    width: 380px;
    height: 220px;
  }
  
    }

    @media (max-width: 376px) {
      .reco-card{
        width: 330px;
        height: 220px;
      }
      
        }

        @media (max-width: 321px) {
          .reco-card{
            width: 280px;
            height: 220px;
          }
          
            }
